body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  background-color: khaki;
  flex: 1;
}

.Footer {
  background-color: darkkhaki;
  text-align: center;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.Header {
  background-color: darkkhaki;
  color: #0044ff;
  height: 110px;
  font: 60pt sans-serif;
}

.logo {
  float: left;
  margin: 5px;
}

.name {
  float: right;
  margin-right: 10px;
}

.menu {
  float: left;
  margin: 20px;
  font: 20pt sans-serif;
  text-decoration: inherit;
}

.Menu {  /* Додано стиль для .Menu */
  display: block;
  margin: 5px;
  float: left;
}

.Body {
  height: 725px;
  display: block;
}

.menu-link {
  color: #0044ff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
}

.menu-link:hover {
  color: #ff6600;
}
.product-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.comments-container {
  margin-top: 20px;
}

.comments-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  margin-bottom: 10px;
}

.comment-input {
  margin-right: 10px;
}

.comment-btn {
  cursor: pointer;
}