/* Стилі для ProductPage */

.product-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-container h2 {
    color: #0044ff;
  }
  
  .product-container p {
    color: #333;
  }
  
  .comments-container {
    margin-top: 20px;
  }
  
  .comments-list {
    list-style-type: none;
    padding: 0;
  }
  
  .comment-item {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .comment-input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .comment-btn {
    cursor: pointer;
    padding: 8px;
    background-color: #0044ff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .comment-btn:hover {
    background-color: #ff6600;
  }